In [5]:
import sqlalchemy
import pandas as pd
import numpy as np
import dtale
from database_credentials import get_database_url

In [6]:
def check_for_duplicates(data):
    unique_id_mask = data['steam_id'].duplicated()
    contains_duplicates = unique_id_mask.any()
    print("Contains duplicate Steam IDs: {0}".format(contains_duplicates))

    if (contains_duplicates):
        number_of_duplicates = len(data[unique_id_mask])
        print("Number of duplicated Steam IDs: {0}".format(number_of_duplicates))
        
def mask_duplicates(data):
    duplicate_id_mask = ~data['steam_id'].duplicated()
    return data[duplicate_id_mask]

In [7]:
database_url = get_database_url()
engine = sqlalchemy.create_engine(database_url)
connection = engine.connect()

In [8]:
reviews = pd.read_sql('reviews', connection)
users = pd.read_sql('users', connection)

In [9]:
display(reviews.head())
display(users.head())

,user_number,steam_id,user_review,timestamp_updated,recommends_game
0,1,76561198109804262,The Game is smooth with great graphics. It sho...,1421253612,1
1,2,76561198144109929,AMAZING Best thing ever. Great graphics for a ...,1421244149,1
2,3,76561198074106169,Best f2p game out there,1421234410,1
3,4,76561198116813176,At times indie devs shock me with the witchcra...,1453959756,1
4,5,76561198154411605,Replayed This game on ALL systems and pc gotta...,1453946674,1

   user_number           steam_id  total_minutes_played  timestamp_last_played
0            1  76561198109804262                 60375             1557229488
1            2  76561198144109929                  9387             1578452417
2            3  76561198074106169                 14241             1572037653
3            4  76561198116813176                  3941             1531724411
4            5  76561198154411605                  1948             1471945327

In [ ]:
check_for_duplicates(reviews)

print('After masking duplicates:')
reviews = mask_duplicates(reviews)
check_for_duplicates(reviews)