In [3]:
import sqlalchemy
import pandas as pd
import numpy as np
import dtale
from database_url import get_database_url

In [ ]:
database_url = get_database_url()
engine = sqlalchemy.create_engine(database_url)
connection = engine.connect()

In [6]:
reviews = pd.read_sql('reviews', connection)
users = pd.read_sql('users', connection)

In [9]:
display(reviews.head())
display(users.head())

,steam_id,user_review,timestamp_updated,recommends_game
0,76561197960267197,"Uh yeah, it's a grind, all you do is grind, th...",1542967184,1
1,76561197960270134,Great game so far.,1542903778,1
2,76561197960270526,Do you like the idea of magic ninjas in space ...,1533732061,1
3,76561197960270855,A F2P shooter that's constantly updated and re...,1574830549,1
4,76561197960271528,ASDASD,1408328111,0

            steam_id  total_playtime  playtime_last_two_weeks  last_played
0  76561197960267197          157371                     1699   1582903925
1  76561197960270134              38                        0   1531892487
2  76561197960270526           64073                        0   1576261576
3  76561197960270855          175714                     1014   1582863293
4  76561197960271528             464                        0   1508016259